body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  background-color: #9400ff;
  color: #fff;
  padding: 10px;
  margin-top: 0%;
}

p {
  text-align: center;
}

hr {
  border: 1px solid #b9b4c7;
}

h2 {
  text-align: center;
}

a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #9400ff;
  color: #fff;
  text-decoration: none;
  margin: 10px;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px;
}

th,
td {
  border: 1px solid #ffb000;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #ffb000;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

img {
  max-width: 100px;
}

tr:hover {
  background-color: #d3d3d3;
}
